<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/jiw0220/ios/blob/master/ShopHelp_21sj/21SJShopHelp1_3.ipa?raw=true</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://wxpay.zlgame.cn/ios/shophelp_21sj/58.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://wxpay.zlgame.cn/ios/shophelp_21sj/58.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.21ct.shophelp</string>
				<key>bundle-version</key>
				<string>1.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>商户助手</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>